.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.circleContainer {
  background-color: #f1c232;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
.yellow {
  background-color: #f1c232;
}
.red {
  background-color: red;
}
